{%extends 'base.html'%}
{%load static%}
{%block contents%}
<style>
    .bg-light{
    margin-top: -500px;
    background: #65cd00;
    padding:10px;
    }

</style>
  <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">

                    <p>

                    </p>
                </div>
            </div>
            <div class="row">
<div class="col-12 col-md-4 mb-4">
</div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <h1>Image Captioning using Convolutional Neural Networks and Recurrent Neural Network</h1>

                         </div>
                </div>
                <div class="col-12 col-md-4 mb-4">

                </div>
            </div>
        </div>
    </section>

{%endblock%}